footer {
    margin-top:40px;
    background: #f4f5f5;
    padding: 30px 0;
    float: left;
    width: 100%;
    .col_6 {
        margin-top: 0px;
        margin-bottom: 0px;
        color: #999;
        float: left;
        font-size: 14px;
        &.text-right {
            a {
                color: #999;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &:first-child {
            a {
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
